$breakpoint-xs:   480px;
$breakpoint-sm:   576px;
$breakpoint-md:   768px;
$breakpoint-lg:   992px;
$breakpoint-xl:  1200px;
$breakpoint-xxl: 1600px;

$base-width: 2000px; 

$font-family: "Epilogue", Arial, Helvetica, sans-serif;
$font-base: 16px;
$font-size: .875rem;
$line-height: 1.6;

$color-primary: #333;
$color-secondary: #666;
$color-ternary: #eee;
$color-light: #fff;
$color-dark: #000;
$color-accent-primary: #20b2aa;
$color-accent-secondary: darken($color-accent-primary, 10%); 

$color-overlay-dark: rgba(0, 0, 0, .5);
$color-overlay-light: rgba(255, 255, 255, .5);

$fs-1: 72px;
$fs-2: 36px;
$fs-3: 28px;
$fs-4: 20px;
$fs-5: 18px;
$fs-6: 16px;
$fs-small: 14px;
$fs-smaller: 12px;

$spacing-xs:  .5rem;
$spacing-sm:   1rem;
$spacing-md: 1.5rem;
$spacing-lg:   2rem;
$spacing-xl:   3rem;

$border-header: 1px solid $color-primary;


// VARIABLES FOR SPECIFIC ELEMENTS

// HEADER 

$color-header: #000;
$height-header-mobile: 60px;
$height-header-desktop: 80px;
$spacer-header: 1px solid rgba(255, 255, 255, .35);

// SLIDER

$width-slider: 360px;
$transition-nav: ease .35s all;
$transition-nav-slider: ease-in-out .5s all;

// NAV ITEMS

$transition-nav-item: ease .25s all;

// BRAND SLIDER

$transition-brand-slider: ease 1s all;