
@import 'variables.scss';

@font-face {
    font-family: "Epilogue";
    src: url('../fonts/epilogue/Epilogue-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Epilogue";
    src: url('../fonts/epilogue/Epilogue-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Epilogue";
    src: url('../fonts/epilogue/Epilogue-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Epilogue";
    src: url('../fonts/epilogue/Epilogue-Black.ttf') format("truetype");
    font-weight: 900;
}

*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; }

body { 
    position: relative;
    font: {
        family: $font-family;
        size: $font-size;
    }
    line-height: $line-height;
    color: $color-primary;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 { font-size: $fs-1; }
h2 { font-size: $fs-2; }
h3 { font-size: $fs-3; }
h4 { font-size: $fs-4; }
h5 { font-size: $fs-5; }
h6 { font-size: $fs-6; }

a {
    text-decoration: none;
    color: inherit;
}

p { margin: 0; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Breakpoints

@mixin breakpoint($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

// Containerklassen

.container-full {
    width: 100%;
    max-width: 100%;
}

.container {
    width: $base-width;
    max-width: 100%;
    margin: 0 auto;
}

@mixin base-container {
    width: $breakpoint-xxl;
    max-width: 100%;
    padding: $spacing-sm;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    @include breakpoint($breakpoint-xxl) {
        width: $base-width;
    }
}

// Button

@mixin btn {
    border: 0;
    border-radius: $spacing-xs;
    padding: $spacing-sm $spacing-md calc($spacing-sm - 3px) ;
    margin-top: $spacing-md;
    font-size: $fs-smaller;
    width: 240px;
    max-width: 100%;
    color: $color-light;    
    background: {
        color: transparent;
        image: linear-gradient(90deg, $color-accent-secondary 50%, $color-overlay-light 50%);
        size: 200%;
        position: right;
    }
    text-align: center;
    line-height: 1;
    transition: $transition-nav-item;
    cursor: pointer;
    &:hover {
        background: {
            position: left;
        }
    }
}

// Header

#header, 
.navbar,
.navbar-nav a,
.header-nav,
.header-icon,
.logo,
.logo img {
    height: $height-header-mobile;
    @include breakpoint($breakpoint-xl) {
        height: $height-header-desktop;
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: $color-header;
    color: $color-ternary;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 $spacing-md;
    z-index: 9999;
    @include breakpoint($breakpoint-xl) {
        justify-content: center;
    }
    .logo {
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        @include breakpoint($breakpoint-xl) {
            position: absolute;
        }
        img {
            @include breakpoint($breakpoint-xl) {
                padding: $spacing-xs $spacing-sm;
            }
        }
    }
    .navbar-nav {
        position: fixed;
        top: 0;
        right: -($width-slider);
        width: $width-slider;;
        max-width: 100%;
        height: 100vh;
        background: $color-light;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: $height-header-mobile 0 0 0;
        overflow: auto;
        transition: $transition-nav-slider;
        z-index: 1;
        &.visible {
            right: 0;
        }
        @include breakpoint($breakpoint-xl) {
            position: static;
            width: auto;
            height: auto;
            background: transparent;
            padding: 0;
        }
        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            padding: $spacing-sm;
            @include breakpoint($breakpoint-xl) {
                flex-direction: row;
                align-items: center;
                padding: 0;
            }
            li {
                position: relative;
                width: 100%;
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    color: $color-primary;
                    text-align: left;
                    text-transform: uppercase;
                    padding: $spacing-sm;
                    transition: $transition-nav-item;
                    @include breakpoint($breakpoint-xl) {
                        color: $color-ternary;
                        justify-content: center;
                        align-items: center;
                        padding: $spacing-sm $spacing-md;
                        min-width: 120px;
                    }
                    &:hover {
                        color: $color-accent-primary;
                    }
                }
            }
        }
        .header-nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: fixed;
            width: $width-slider;
            max-width: 100%;
            right: 0;
            top: 0;
            padding: $spacing-sm 0;
            background: $color-header;
            @include breakpoint($breakpoint-xl) {
                padding: 0 $spacing-sm;
            }
            .header-icon {
                padding: calc($spacing-sm * .75);
                display: flex;
                justify-content: center;
                align-items: center;
                @include breakpoint($breakpoint-sm) {
                    padding: $spacing-sm;
                }
                &:first-of-type {
                    border-left: $spacer-header;
                    @include breakpoint($breakpoint-xl) {
                        padding-left: calc($spacing-sm * 2);
                    }
                }
                svg {
                    width: 32px;
                    @include breakpoint($breakpoint-sm) {
                        width: 36px;
                    }
                }
            }
        }
    }
    .burger-icon {
        border-left: $spacer-header;
        @include breakpoint($breakpoint-xl) {
            display: none !important;
        }
    }
}

// Navigation Icons

.nav-link {
    &::before {
        position: relative;
        content: "";
        display: flex;
        width: 32px;
        height: 32px;
        background: {
            size: 14px;
            color: $color-dark;
            repeat: no-repeat;
            position: center;
        }
        border-radius: 50%;
        margin-right: $spacing-sm;
        transition: $transition-nav-item;
        @include breakpoint($breakpoint-xl) {
            position: absolute;
            top: -100%;
            width: 100%;
            height: 100%;
            background-color: #333;
            background-size: 24px;
            border-radius: 0;
            margin-right: 0;
        }
    }
    &:hover::before {
        top: 0;
    }
}

$brands: apple, samsung, google, sony, huawei, xiaomi;

@each $brand in $brands {
    .#{$brand}::before {
        background-image: url(../images/icons/brand-icons/icon-#{$brand}-50.png);
    }
}

.header-icon {    
    cursor: pointer;
    svg {
    fill: $color-ternary;
    }
}

// Slider Login & Basket

.slider {
    position: fixed;
    width: $width-slider;
    height: 100vh;
    padding-top: $height-header-mobile;
    top: 0;
    right: -($width-slider);
    background: $color-light;
    transition: $transition-nav-slider;
    z-index: 1;
    @include breakpoint($breakpoint-xl) {
        padding-top: $height-header-desktop;
    }
    &.visible {
        right: 0;
    }
    &.visible .icon-close {
        content: "";
        position: absolute;
        top: calc($height-header-mobile + 1.25rem);
        right: .75rem;
        width: 40px;
        height: 40px;
        background: transparent url(../images/icons/header-icons/icon-close.png) center no-repeat;
        background-size: 36px;
        cursor: pointer;
        z-index: 1;
        @include breakpoint($breakpoint-xl) {
            top: calc($height-header-desktop + 1.25rem);
            right: 1.75rem;
        }
    }
}

// Overlay

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: $color-overlay-dark;
    opacity: 0;
    cursor: pointer;
    transition: $transition-nav-slider;
    &.visible {
        left: 0;
        opacity: 1;
    }
}

// MAIN

main {
    padding-top: $height-header-mobile;
    @include breakpoint($breakpoint-xl) {
        padding-top: $height-header-desktop;
    }
}

// PRODUCT DETAILS PAGE

// Slick Slider

.slick-prev {
    left: $spacing-sm;
}

.slick-next {
    right: $spacing-sm;
}

#image-slider {
    .slick-list {
        @include breakpoint($breakpoint-sm) {
            padding: 0 20% 0 0 !important;
        }
        @include breakpoint($breakpoint-md) {
            padding: 0 33% 0 0 !important;
        }
    }

    .slick-slide {
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// Grid on Viewport 992px +

.container-product-details {
    @include breakpoint($breakpoint-lg) {
        display: flex;
        align-items: flex-start;
        gap: $spacing-xs;
        padding: $spacing-xs;
        .container-product-image {
            flex: 1 1 60%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(calc(100% - $spacing-xs), 1fr));
            gap: $spacing-xs;
        }
        .container-product-information {
            flex: 1 1 40%;
        }
    }
    @include breakpoint($breakpoint-xl) {        
        .container-product-image {
            flex: 1 1 calc(100% / 3 * 2);
            grid-template-columns: repeat(auto-fit, minmax(calc(50% - $spacing-xs), 1fr));
        }
        .container-product-information {
            flex: 1 1 calc(100% / 3 );
        }
    }
}

// Content Container

.container-product-image,
.container-product-information,
.container-product-information-inner {
    @include breakpoint($breakpoint-lg) {
        position: -webkit-sticky;
        position: sticky;
        top: calc($height-header-mobile + $spacing-xl);
    }
}

// Image Container

.container-product-image {
    .cpi-image {
        @include breakpoint($breakpoint-sm) {
            border-right: $spacing-xs solid $color-light;
        }
        @include breakpoint($breakpoint-lg) {
            border-right: 0;
        }
        img {
            background: $color-ternary;
            @include breakpoint($breakpoint-lg) {
                height: 100%;
                width: 100%;
            }
        }
    }
}

// Information Container

.container-product-information {
    .container-product-information-inner {
        padding: $spacing-sm;
        @include breakpoint($breakpoint-sm) {
            padding: $spacing-md;
        }
        @include breakpoint($breakpoint-md) {
            padding: $spacing-lg;
        }
        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .pi-brand-name {
                font-weight: 300;
            }
            .pi-brand-icon {
                filter: invert(1);
            }
        }
        .pi-product {
            font-weight: bold;
            font-size: $fs-3;
        }
        .pi-price {
            display: flex;
            flex-direction: column;
            margin: $spacing-sm 0;
            font-size: $fs-6;
            .pi-price-value {
                font-weight: 600;
                padding-right: $spacing-sm;
                margin-top: $spacing-md;
                font-size: $fs-4;
            }
            .pi-price-vat {
                font-size: $fs-smaller;
                color: $color-secondary;
                letter-spacing: 0;
            }
        }
    }
}

// Variation Container

.product-variation-container {
    margin-top: $spacing-xl;
    .variation-container {
        margin-top: $spacing-lg;
        h6 {
            font-weight: normal;
            font-size: $fs-small;
            color: $color-secondary;
            span {
                color: $color-dark;
                font-weight: 600;
            }
        }
        .variation-selection {
            display: flex;
            gap: $spacing-sm;
            margin-top: $spacing-sm;
            .variation {
                input:checked + label .color,
                input:checked + label .square {
                    transition: ease 0.1s all;
                    outline: 2px solid $color-dark;
                    font-weight: 600;
                }
                input {
                    display: none;
                }
                label {
                    cursor: pointer;
                    .color {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                    .square {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        height: 50px;
                        background: $color-ternary;
                        font-size: 12px;
                        color: $color-secondary;
                        line-height: 1;
                        border-radius: $spacing-xs;
                    }
                }
            }
        }
    }
}

// Add To Basket-Container

.add-to-basket-container {
    margin-top: $spacing-xl;
    display: flex;
    gap: .5rem;
    select {
        width: 80px;
        text-align: center;
        border: none;
        background: $color-ternary;
        border-radius: $spacing-xs;
        border-right: $spacing-sm solid #eee;
    }
    button {
        border: none;
        border-radius: $spacing-xs;
        padding: $spacing-md $spacing-xl;
        width: 100%;
        color: $color-light;
        font-size: $fs-small;
        letter-spacing: 1px;
        background: {
            image: linear-gradient(90deg, $color-accent-secondary 50%, $color-dark 50%);
            size: 200%;
            position: right;
        }
        transition: $transition-nav;
        cursor: pointer;
        &:hover {
            background-position: left;
        }
    }
}

// Description Container

.description-container,
.details-container {
    margin-top: $spacing-xl;
    h6 {
        margin-bottom: $spacing-lg;
        font-size: $fs-6;
    }
    p {
        letter-spacing: 0;
        margin-bottom: $spacing-sm;
    }
    .detail {
        letter-spacing: 0;
        padding: $spacing-xs 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-ternary;
    }
}

// STARTPAGE

// Videobanner

.video-container {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    video {
        object-fit: cover;
        min-width: 100%;
    }
    .video-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        color: $color-light;
        background: $color-overlay-dark;
        padding: $spacing-sm;
        text-align: center;
        .video-headline {
            font-size: $fs-2;
            line-height: 1;
            font-weight: 600;
            letter-spacing: -2px;
            @include breakpoint($breakpoint-md) {
                font-size: calc($fs-1 * .75);
            }
            @include breakpoint($breakpoint-lg) {
                font-size: $fs-1;
            }
        }
        .video-subline {
            font-size: $fs-smaller;
            margin: $spacing-sm 0;
            @include breakpoint($breakpoint-md) {
                font-size: $fs-small;
            }
        }
        .video-btn {
            @include btn;
        }
    }
}

// Brand Slider

#brand-slider-wrapper {    
    padding: $spacing-md;
    background: $color-ternary;
}

.brand-slider {
    max-width: $breakpoint-xxl;
    margin: 0 auto;
    .brand-slider-item {
        a {
            display: block;
            overflow: hidden;
            transition: $transition-brand-slider;
            img {
                max-width: 50px;
                padding: $spacing-xs;
                margin: 0 auto;
                filter: invert(1);
            }
            &:hover {
                img {
                    transform: scale(calc(1.25));
                    transition: $transition-brand-slider;
                }
            }
        }
    }
}

// Advertising Container

.ad-container {
    @include base-container;
    .ad-item {
        position: relative;
        flex: 1 1 calc(100%);
        overflow: hidden;
        @include breakpoint($breakpoint-md) {
            flex: 1 1 calc(50% - $spacing-xs);
        }
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            transition: $transition-brand-slider;
        }
        &:hover img {
            transform: scale(1.25);
        }
        .ad-item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $color-overlay-dark;
            color: $color-light;
            text-align: center;
            transition: $transition-nav-item;
            &:hover {
                background: lighten($color-overlay-dark, 20%);
            }
            .ad-item-headline {
                font-size: $fs-6;
                text-transform: uppercase;
                font-weight: 600;
                @include breakpoint($breakpoint-sm) {
                    font-size: $fs-5;
                }
                @include breakpoint($breakpoint-md) {
                    font-size: $fs-4;
                }
                @include breakpoint($breakpoint-lg) {
                    font-size: $fs-3;
                }
            }
            .ad-item-button {
                @include btn;
                width: 180px;
                max-width: 100%;
                font-size: calc($fs-smaller * .875);
                background-image: linear-gradient(90deg, $color-dark 50%, $color-overlay-light 50%);
            }
        }
    }
}

// FOOTER

#footer {
    background: $color-ternary;
}

.footer-container {
    @include base-container;
    .footer-item {
        flex: 1 1 100%;
        font-size: $fs-smaller;
        padding: $spacing-md $spacing-sm;
        @include breakpoint($breakpoint-sm) {
            flex: 1 1 calc(50% - $spacing-xs);
        }
        @include breakpoint($breakpoint-md) {
            flex: 1 1 calc(25% - $spacing-xs);
        }
        .footer-item-headline {
            font-weight: 600;
            margin-bottom: $spacing-sm;
        }
        a {
            display: block;
            width: 100%;
            padding: $spacing-xs 0;
            transition: $transition-nav-item;
            &:hover {
                color: $color-accent-primary;
            }
        }
        .footer-item-container:not(:last-of-type) {
            padding-bottom: $spacing-xl;
        }
        .footer-item-icons {
            display: flex;
            flex-wrap: wrap;
            column-gap: $spacing-xs;
        }
    }
}

.footer-lower {
    padding: $spacing-sm;
    text-align: center;
    background: $color-dark;
    color: $color-light;
    font-size: 10px;
    font-weight: 500;
}

// PRODUCT GALLERY

.gallery-container {
    width: $breakpoint-xxl;
    max-width: 100%;
    margin: 0 auto;
    padding: $spacing-xl $spacing-xs;
    display: grid;
    gap: $spacing-xs;
    @include breakpoint($breakpoint-xs) {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - $spacing-xs), 1fr));
    }
    @include breakpoint($breakpoint-md) {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - $spacing-xs), 1fr));
    }
    @include breakpoint($breakpoint-lg) {
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - $spacing-xs), 1fr));
    }
    @include breakpoint($breakpoint-xl) {
        grid-template-columns: repeat(auto-fill, minmax(calc(20% - $spacing-xs), 1fr));
    }
    .gallery-item {
        background: $color-ternary;
        padding: $spacing-sm;
        overflow: hidden;
        .gallery-item-image {
            img {
                width: 100%;
                max-width: 100%;
                transition: $transition-brand-slider;
            }
        }
        &:hover img {
            transform: scale(1.05);
        }
        .gallery-item-content {
            text-align: center;
            .brand {
                font-weight: 600;
            }
            .color {
                font-size: $fs-smaller;
                margin: $spacing-xs 0;
            }
            .price {
                color: $color-secondary;
                font-size: $fs-smaller;
                letter-spacing: 0;
                font-weight: 600;
            }
        }
        .variations {
            display: flex;
            justify-content: center;
            gap: $spacing-xs;
            margin-top: $spacing-sm;
            .var {
                display: inline-block;
                height: 16px;
                width: 16px;
                border-radius: 50%;
            }
        }
    }
}

// MARKENSHOP BANNER

$bannerimage: apple, samsung, google, sony, huawei, xiaomi;

@each $image in $bannerimage {
    #banner[data-brand="#{$image}"]{
        background-image: url('../images/banner/#{$image}.png');
    }
}

#banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    @include breakpoint($breakpoint-md) {
        height: 75vh;
    }
    .banner-overlay {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-overlay-dark;
        font-size: $fs-2;
        font-weight: 600;
        letter-spacing: 0;
        text-transform: uppercase;
        color: $color-light;
        @include breakpoint($breakpoint-sm) {
            font-size: calc($fs-2 * 1.5);
        }
        @include breakpoint($breakpoint-md) {
            font-size: $fs-1;
        }
    }
}

// REGISTRATION PAGE

// Registration Lower Section

.registration-container {
    @include base-container;
    display: block;
    @include breakpoint($breakpoint-xl) {
        width: $breakpoint-xxl;
    }
    padding: $spacing-xl 0;
    .registration-item {
        padding: $spacing-sm;
    }
    h2 {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 28px;
        margin: $spacing-md 0;
    }
    
}

#registerForm {
    @include breakpoint($breakpoint-lg) {
        display: flex;    
        gap: $spacing-xl;
        #userInfo, 
        #addressInfo {
            flex: 1 1 calc(50% - $spacing-xl);
        }
    }
}

// Input Configuration

.registration-form-field {
    position: relative;
    .field-label,
    label {
        position: absolute;
        font-size: $fs-small;
        color: $color-dark;
        top: calc((52px - $fs-small - 2px) / 2);
        left: $spacing-xs;
        z-index: -1;
        transition: $transition-nav-item;
    }
    input {
        width: 100%;
        height: 52px;
        border: none;
        border-radius: .5rem;
        background: rgba(230, 230, 230, .5);
        padding: $spacing-xs;
        margin-bottom: $spacing-md;
        &:focus,
        &:focus-visible {
            border: none;
            outline: none;
            font-size: $fs-small;
            background: darken($color-ternary, 10%);
        }
        &:valid + .field-label,
        &:focus + .field-label,
        &:focus-visible + .field-label,
        &:valid + label,
        &:focus + label,
        &:focus-visible + label {
            position: absolute;
            top: calc(-1 * $fs-small / 2);
            left: 0;
            background: $color-dark;
            color: $color-light;
            padding: 0 $spacing-xs;
            font-size: calc($fs-smaller / 6 * 5);
            border-radius: $spacing-xs;
            z-index: 1;
        }  
    }
}

@mixin form-container {
    display: flex;
    gap: $spacing-xs;
}

#registerForm {
    @include breakpoint($breakpoint-sm) {
        #kundennameContainer,
        #passwortContainer {
            @include form-container;
            .registration-form-field {
                flex: 1 1 calc(50% - ($spacing-xs / 2));
            }
        }

        #strassennameContainer {
            @include form-container;
            .registration-form-field:first-of-type {
                flex: 1 1 75%;
            }
        }

        #plzContainer {
            @include form-container;
            .registration-form-field:last-of-type {
                flex: 1 1 calc(75% - ($spacing-xs / 2));
            }
        }
    }
}

#registerButton,
#loginButton,
#logoutButton,
#registerNowButton {
    display: block;
    border: none;
    border-radius: $spacing-xs;
    padding: $spacing-md $spacing-xl;
    margin-top: calc($spacing-xs / 2);
    width: 100%;
    font-size: $fs-small;
    color: $color-light;
    letter-spacing: 1px;
    text-align: center;
    background: {
        image: linear-gradient(90deg, $color-accent-secondary 50%, $color-dark 50%);
        size: 200%;
        position: right;
    }
    transition: $transition-nav;
    cursor: pointer;
    &:hover {
        background-position: left;
    }
}

#logoutButton {
    background-image: linear-gradient(90deg, #960000 50%, $color-dark 50%);
}



// Registration Upper Section

#registration-header {
    background: $color-ternary;
    .container {
        @include base-container;
        min-height: 30vh;
        @include breakpoint($breakpoint-lg) {
            padding: $spacing-xl $spacing-sm;
        }
        @include breakpoint($breakpoint-xxl) {
            width: $breakpoint-xxl;
        }   
        .registration-benefits-container {
            flex: 1 1 100%;
            letter-spacing: 0;
            text-align: center;
            @include breakpoint($breakpoint-lg) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $spacing-xl;
            }
            .reg-ben-item {
                @include breakpoint($breakpoint-lg) {
                    flex: 1 1 calc(50% - $spacing-xl);
                }
            }
        } 
        h1 {
            font-size: $fs-2;
            font-weight: 600;
            letter-spacing: 0;
            text-transform: uppercase;
            margin: $spacing-sm 0;
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            @include breakpoint($breakpoint-md) {
                font-size: calc($fs-1 * .75);
            }
            @include breakpoint($breakpoint-lg) {
                margin: 0 0 $spacing-sm 0;
            }
        }
    }
}
.already-registered-container {
    text-align: center;
    margin: $spacing-lg 0;
    .reg-ben-item:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: darken($color-ternary, 5%);
    }
    p {
        color: #960000;
        font-size: $fs-6;
        text-transform: uppercase;
        font-weight: 600;
        margin: $spacing-xs 0;
    }
    a {
        transition: $transition-nav-item;
        font-weight: 600;
        color: $color-secondary;
        &:hover {
            color: $color-dark;
        }
    }
}

// LOGIN- LOGOUT-SLIDER

.login-container-item {
    padding: $spacing-lg $spacing-sm;
    color: $color-secondary;
    h4 {
        font-weight: 600;
        letter-spacing: 0;
        color: $color-dark;
        margin-bottom: $spacing-md;
        text-transform: uppercase;
    }
}

.already-registered {
    margin-top: $spacing-sm;
    padding-top: $spacing-sm;
    border-top: 1px solid rgba(0, 0, 0, .25);
}

#loginButton,
#logoutButton,
#registerNowButton {
    padding: $spacing-sm;
}