@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Black.ttf") format("truetype");
  font-weight: 900;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #333;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-full {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
}

#header,
.navbar,
.navbar-nav a,
.header-nav,
.header-icon,
.logo,
.logo img {
  height: 60px;
}
@media only screen and (min-width: 1200px) {
  #header,
  .navbar,
  .navbar-nav a,
  .header-nav,
  .header-icon,
  .logo,
  .logo img {
    height: 80px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #000;
  color: #eee;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 9999;
}
@media only screen and (min-width: 1200px) {
  .navbar {
    justify-content: center;
  }
}
.navbar .logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 1200px) {
  .navbar .logo {
    position: absolute;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar .logo img {
    padding: 0.5rem 1rem;
  }
}
.navbar .navbar-nav {
  position: fixed;
  top: 0;
  right: -360px;
  width: 360px;
  max-width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0 0 0;
  overflow: auto;
  transition: ease-in-out 0.5s all;
  z-index: 1;
}
.navbar .navbar-nav.visible {
  right: 0;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
  }
}
.navbar .navbar-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav ul {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}
.navbar .navbar-nav ul li {
  position: relative;
  width: 100%;
}
.navbar .navbar-nav ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #333;
  text-align: left;
  text-transform: uppercase;
  padding: 1rem;
  transition: ease 0.25s all;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav ul li a {
    color: #eee;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    min-width: 120px;
  }
}
.navbar .navbar-nav ul li a:hover {
  color: #20b2aa;
}
.navbar .navbar-nav .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 360px;
  max-width: 100%;
  right: 0;
  top: 0;
  padding: 1rem 0;
  background: #000;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .header-nav {
    padding: 0 1rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .navbar .navbar-nav .header-nav .header-icon {
    padding: 1rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon:first-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .header-nav .header-icon:first-of-type {
    padding-left: 2rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon svg {
  width: 32px;
}
@media only screen and (min-width: 576px) {
  .navbar .navbar-nav .header-nav .header-icon svg {
    width: 36px;
  }
}
.navbar .burger-icon {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}
@media only screen and (min-width: 1200px) {
  .navbar .burger-icon {
    display: none !important;
  }
}

.nav-link::before {
  position: relative;
  content: "";
  display: flex;
  width: 32px;
  height: 32px;
  background-size: 14px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 1rem;
  transition: ease 0.25s all;
}
@media only screen and (min-width: 1200px) {
  .nav-link::before {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-size: 24px;
    border-radius: 0;
    margin-right: 0;
  }
}
.nav-link:hover::before {
  top: 0;
}

.apple::before {
  background-image: url(../images/icons/brand-icons/icon-apple-50.png);
}

.samsung::before {
  background-image: url(../images/icons/brand-icons/icon-samsung-50.png);
}

.google::before {
  background-image: url(../images/icons/brand-icons/icon-google-50.png);
}

.sony::before {
  background-image: url(../images/icons/brand-icons/icon-sony-50.png);
}

.huawei::before {
  background-image: url(../images/icons/brand-icons/icon-huawei-50.png);
}

.xiaomi::before {
  background-image: url(../images/icons/brand-icons/icon-xiaomi-50.png);
}

.header-icon {
  cursor: pointer;
}
.header-icon svg {
  fill: #eee;
}

.slider {
  position: fixed;
  width: 360px;
  height: 100vh;
  padding-top: 60px;
  top: 0;
  right: -360px;
  background: #fff;
  transition: ease-in-out 0.5s all;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .slider {
    padding-top: 80px;
  }
}
.slider.visible {
  right: 0;
}
.slider.visible .icon-close {
  content: "";
  position: absolute;
  top: calc(60px + 1.25rem);
  right: 0.75rem;
  width: 40px;
  height: 40px;
  background: transparent url(../images/icons/header-icons/icon-close.png) center no-repeat;
  background-size: 36px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .slider.visible .icon-close {
    top: calc(80px + 1.25rem);
    right: 1.75rem;
  }
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 0.5s all;
}
.overlay.visible {
  left: 0;
  opacity: 1;
}

main {
  padding-top: 60px;
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 80px;
  }
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}

@media only screen and (min-width: 576px) {
  .slick-list {
    padding: 0 20% 0 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .slick-list {
    padding: 0 33% 0 0 !important;
  }
}

.slick-slide img {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .container-product-details {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .container-product-details .container-product-image {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 0.5rem), 1fr));
    gap: 0.5rem;
  }
  .container-product-details .container-product-information {
    flex: 1 1 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .container-product-details .container-product-image {
    flex: 1 1 66.6666666667%;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5rem), 1fr));
  }
  .container-product-details .container-product-information {
    flex: 1 1 33.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .container-product-image,
  .container-product-information,
  .container-product-information-inner {
    position: -webkit-sticky;
    position: sticky;
    top: calc(60px + 3rem);
  }
}

@media only screen and (min-width: 576px) {
  .container-product-image .cpi-image {
    border-right: 0.5rem solid #fff;
  }
}
@media only screen and (min-width: 992px) {
  .container-product-image .cpi-image {
    border-right: 0;
  }
}
.container-product-image .cpi-image img {
  background: #eee;
}
@media only screen and (min-width: 992px) {
  .container-product-image .cpi-image img {
    height: 100%;
    width: 100%;
  }
}

.container-product-information .container-product-information-inner {
  padding: 1rem;
}
@media only screen and (min-width: 576px) {
  .container-product-information .container-product-information-inner {
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .container-product-information .container-product-information-inner {
    padding: 2rem;
  }
}
.container-product-information .container-product-information-inner .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-product-information .container-product-information-inner .product-header .pi-brand-name {
  font-weight: 300;
}
.container-product-information .container-product-information-inner .product-header .pi-brand-icon {
  filter: invert(1);
}
.container-product-information .container-product-information-inner .pi-product {
  font-weight: bold;
  font-size: 28px;
}
.container-product-information .container-product-information-inner .pi-price {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 16px;
}
.container-product-information .container-product-information-inner .pi-price .pi-price-value {
  font-weight: 600;
  padding-right: 1rem;
  margin-top: 1.5rem;
  font-size: 20px;
}
.container-product-information .container-product-information-inner .pi-price .pi-price-vat {
  font-size: 12px;
  color: #666;
  letter-spacing: 0;
}

.product-variation-container {
  margin-top: 3rem;
}
.product-variation-container .variation-container {
  margin-top: 2rem;
}
.product-variation-container .variation-container h6 {
  font-weight: normal;
  font-size: 14px;
  color: #666;
}
.product-variation-container .variation-container h6 span {
  color: #000;
  font-weight: 600;
}
.product-variation-container .variation-container .variation-selection {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.product-variation-container .variation-container .variation-selection .variation input:checked + label .color,
.product-variation-container .variation-container .variation-selection .variation input:checked + label .square {
  transition: ease 0.1s all;
  outline: 2px solid #000;
  font-weight: 600;
}
.product-variation-container .variation-container .variation-selection .variation input {
  display: none;
}
.product-variation-container .variation-container .variation-selection .variation label {
  cursor: pointer;
}
.product-variation-container .variation-container .variation-selection .variation label .color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.product-variation-container .variation-container .variation-selection .variation label .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background: #eee;
  font-size: 12px;
  color: #666;
  line-height: 1;
}

.add-to-basket-container {
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
}
.add-to-basket-container select {
  width: 80px;
  text-align: center;
  border: none;
  background: #eee;
  border-radius: 0;
  border-right: 1rem solid #eee;
}
.add-to-basket-container button {
  border: none;
  padding: 1.5rem 3rem;
  width: 100%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #188781 50%, #000 50%);
  background-size: 200%;
  background-position: right;
  transition: ease 0.35s all;
  cursor: pointer;
}
.add-to-basket-container button:hover {
  background-position: left;
}

.description-container,
.details-container {
  margin-top: 3rem;
}
.description-container h6,
.details-container h6 {
  margin-bottom: 2rem;
  font-size: 16px;
}
.description-container p,
.details-container p {
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.description-container .detail,
.details-container .detail {
  letter-spacing: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}/*# sourceMappingURL=style.css.map */