@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Epilogue";
  src: url("../fonts/epilogue/Epilogue-Black.ttf") format("truetype");
  font-weight: 900;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Epilogue", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #333;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-full {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
}

#header,
.navbar,
.navbar-nav a,
.header-nav,
.header-icon,
.logo,
.logo img {
  height: 60px;
}
@media only screen and (min-width: 1200px) {
  #header,
  .navbar,
  .navbar-nav a,
  .header-nav,
  .header-icon,
  .logo,
  .logo img {
    height: 80px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #000;
  color: #eee;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 9999;
}
@media only screen and (min-width: 1200px) {
  .navbar {
    justify-content: center;
  }
}
.navbar .logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 1200px) {
  .navbar .logo {
    position: absolute;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar .logo img {
    padding: 0.5rem 1rem;
  }
}
.navbar .navbar-nav {
  position: fixed;
  top: 0;
  right: -360px;
  width: 360px;
  max-width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0 0 0;
  overflow: auto;
  transition: ease-in-out 0.5s all;
  z-index: 1;
}
.navbar .navbar-nav.visible {
  right: 0;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
  }
}
.navbar .navbar-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav ul {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}
.navbar .navbar-nav ul li {
  position: relative;
  width: 100%;
}
.navbar .navbar-nav ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #333;
  text-align: left;
  text-transform: uppercase;
  padding: 1rem;
  transition: ease 0.25s all;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav ul li a {
    color: #eee;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    min-width: 120px;
  }
}
.navbar .navbar-nav ul li a:hover {
  color: #20b2aa;
}
.navbar .navbar-nav .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 360px;
  max-width: 100%;
  right: 0;
  top: 0;
  padding: 1rem 0;
  background: #000;
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .header-nav {
    padding: 0 1rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .navbar .navbar-nav .header-nav .header-icon {
    padding: 1rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon:first-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}
@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .header-nav .header-icon:first-of-type {
    padding-left: 2rem;
  }
}
.navbar .navbar-nav .header-nav .header-icon svg {
  width: 32px;
}
@media only screen and (min-width: 576px) {
  .navbar .navbar-nav .header-nav .header-icon svg {
    width: 36px;
  }
}
.navbar .burger-icon {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
}
@media only screen and (min-width: 1200px) {
  .navbar .burger-icon {
    display: none !important;
  }
}

.nav-link::before {
  position: relative;
  content: "";
  display: flex;
  width: 32px;
  height: 32px;
  background-size: 14px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 1rem;
  transition: ease 0.25s all;
}
@media only screen and (min-width: 1200px) {
  .nav-link::before {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-size: 24px;
    border-radius: 0;
    margin-right: 0;
  }
}
.nav-link:hover::before {
  top: 0;
}

.apple::before {
  background-image: url(../images/icons/brand-icons/icon-apple-50.png);
}

.samsung::before {
  background-image: url(../images/icons/brand-icons/icon-samsung-50.png);
}

.google::before {
  background-image: url(../images/icons/brand-icons/icon-google-50.png);
}

.sony::before {
  background-image: url(../images/icons/brand-icons/icon-sony-50.png);
}

.huawei::before {
  background-image: url(../images/icons/brand-icons/icon-huawei-50.png);
}

.xiaomi::before {
  background-image: url(../images/icons/brand-icons/icon-xiaomi-50.png);
}

.header-icon {
  cursor: pointer;
}
.header-icon svg {
  fill: #eee;
}

.slider {
  position: fixed;
  width: 360px;
  height: 100vh;
  padding-top: 60px;
  top: 0;
  right: -360px;
  background: #fff;
  transition: ease-in-out 0.5s all;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .slider {
    padding-top: 80px;
  }
}
.slider.visible {
  right: 0;
}
.slider.visible .icon-close {
  content: "";
  position: absolute;
  top: calc(60px + 1.25rem);
  right: 0.75rem;
  width: 40px;
  height: 40px;
  background: transparent url(../images/icons/header-icons/icon-close.png) center no-repeat;
  background-size: 36px;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .slider.visible .icon-close {
    top: calc(80px + 1.25rem);
    right: 1.75rem;
  }
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 0.5s all;
}
.overlay.visible {
  left: 0;
  opacity: 1;
}

main {
  padding-top: 60px;
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 80px;
  }
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}

@media only screen and (min-width: 576px) {
  #image-slider .slick-list {
    padding: 0 20% 0 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  #image-slider .slick-list {
    padding: 0 33% 0 0 !important;
  }
}
#image-slider .slick-slide img {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .container-product-details {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .container-product-details .container-product-image {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 0.5rem), 1fr));
    gap: 0.5rem;
  }
  .container-product-details .container-product-information {
    flex: 1 1 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .container-product-details .container-product-image {
    flex: 1 1 66.6666666667%;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5rem), 1fr));
  }
  .container-product-details .container-product-information {
    flex: 1 1 33.3333333333%;
  }
}

@media only screen and (min-width: 992px) {
  .container-product-image,
  .container-product-information,
  .container-product-information-inner {
    position: -webkit-sticky;
    position: sticky;
    top: calc(60px + 3rem);
  }
}

@media only screen and (min-width: 576px) {
  .container-product-image .cpi-image {
    border-right: 0.5rem solid #fff;
  }
}
@media only screen and (min-width: 992px) {
  .container-product-image .cpi-image {
    border-right: 0;
  }
}
.container-product-image .cpi-image img {
  background: #eee;
}
@media only screen and (min-width: 992px) {
  .container-product-image .cpi-image img {
    height: 100%;
    width: 100%;
  }
}

.container-product-information .container-product-information-inner {
  padding: 1rem;
}
@media only screen and (min-width: 576px) {
  .container-product-information .container-product-information-inner {
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .container-product-information .container-product-information-inner {
    padding: 2rem;
  }
}
.container-product-information .container-product-information-inner .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-product-information .container-product-information-inner .product-header .pi-brand-name {
  font-weight: 300;
}
.container-product-information .container-product-information-inner .product-header .pi-brand-icon {
  filter: invert(1);
}
.container-product-information .container-product-information-inner .pi-product {
  font-weight: bold;
  font-size: 28px;
}
.container-product-information .container-product-information-inner .pi-price {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 16px;
}
.container-product-information .container-product-information-inner .pi-price .pi-price-value {
  font-weight: 600;
  padding-right: 1rem;
  margin-top: 1.5rem;
  font-size: 20px;
}
.container-product-information .container-product-information-inner .pi-price .pi-price-vat {
  font-size: 12px;
  color: #666;
  letter-spacing: 0;
}

.product-variation-container {
  margin-top: 3rem;
}
.product-variation-container .variation-container {
  margin-top: 2rem;
}
.product-variation-container .variation-container h6 {
  font-weight: normal;
  font-size: 14px;
  color: #666;
}
.product-variation-container .variation-container h6 span {
  color: #000;
  font-weight: 600;
}
.product-variation-container .variation-container .variation-selection {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.product-variation-container .variation-container .variation-selection .variation input:checked + label .color,
.product-variation-container .variation-container .variation-selection .variation input:checked + label .square {
  transition: ease 0.1s all;
  outline: 2px solid #000;
  font-weight: 600;
}
.product-variation-container .variation-container .variation-selection .variation input {
  display: none;
}
.product-variation-container .variation-container .variation-selection .variation label {
  cursor: pointer;
}
.product-variation-container .variation-container .variation-selection .variation label .color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.product-variation-container .variation-container .variation-selection .variation label .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background: #eee;
  font-size: 12px;
  color: #666;
  line-height: 1;
  border-radius: 0.5rem;
}

.add-to-basket-container {
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
}
.add-to-basket-container select {
  width: 80px;
  text-align: center;
  border: none;
  background: #eee;
  border-radius: 0.5rem;
  border-right: 1rem solid #eee;
}
.add-to-basket-container button {
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  width: 100%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #188781 50%, #000 50%);
  background-size: 200%;
  background-position: right;
  transition: ease 0.35s all;
  cursor: pointer;
}
.add-to-basket-container button:hover {
  background-position: left;
}

.description-container,
.details-container {
  margin-top: 3rem;
}
.description-container h6,
.details-container h6 {
  margin-bottom: 2rem;
  font-size: 16px;
}
.description-container p,
.details-container p {
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.description-container .detail,
.details-container .detail {
  letter-spacing: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.video-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-container video {
  object-fit: cover;
  min-width: 100%;
}
.video-container .video-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
}
.video-container .video-overlay .video-headline {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -2px;
}
@media only screen and (min-width: 768px) {
  .video-container .video-overlay .video-headline {
    font-size: 54px;
  }
}
@media only screen and (min-width: 992px) {
  .video-container .video-overlay .video-headline {
    font-size: 72px;
  }
}
.video-container .video-overlay .video-subline {
  font-size: 12px;
  margin: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .video-container .video-overlay .video-subline {
    font-size: 14px;
  }
}
.video-container .video-overlay .video-btn {
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem calc(1rem - 3px);
  margin-top: 1.5rem;
  font-size: 12px;
  width: 240px;
  max-width: 100%;
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(90deg, #188781 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200%;
  background-position: right;
  text-align: center;
  line-height: 1;
  transition: ease 0.25s all;
  cursor: pointer;
}
.video-container .video-overlay .video-btn:hover {
  background-position: left;
}

#brand-slider-wrapper {
  padding: 1.5rem;
  background: #eee;
}

.brand-slider {
  max-width: 1600px;
  margin: 0 auto;
}
.brand-slider .brand-slider-item a {
  display: block;
  overflow: hidden;
  transition: ease 1s all;
}
.brand-slider .brand-slider-item a img {
  max-width: 50px;
  padding: 0.5rem;
  margin: 0 auto;
  filter: invert(1);
}
.brand-slider .brand-slider-item a:hover img {
  transform: scale(1.25);
  transition: ease 1s all;
}

.ad-container {
  width: 1600px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media only screen and (min-width: 1600px) {
  .ad-container {
    width: 2000px;
  }
}
.ad-container .ad-item {
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .ad-container .ad-item {
    flex: 1 1 calc(50% - 0.5rem);
  }
}
.ad-container .ad-item img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: ease 1s all;
}
.ad-container .ad-item:hover img {
  transform: scale(1.25);
}
.ad-container .ad-item .ad-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  transition: ease 0.25s all;
}
.ad-container .ad-item .ad-item-overlay:hover {
  background: rgba(51, 51, 51, 0.5);
}
.ad-container .ad-item .ad-item-overlay .ad-item-headline {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
@media only screen and (min-width: 576px) {
  .ad-container .ad-item .ad-item-overlay .ad-item-headline {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .ad-container .ad-item .ad-item-overlay .ad-item-headline {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .ad-container .ad-item .ad-item-overlay .ad-item-headline {
    font-size: 28px;
  }
}
.ad-container .ad-item .ad-item-overlay .ad-item-button {
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem calc(1rem - 3px);
  margin-top: 1.5rem;
  font-size: 12px;
  width: 240px;
  max-width: 100%;
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(90deg, #188781 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200%;
  background-position: right;
  text-align: center;
  line-height: 1;
  transition: ease 0.25s all;
  cursor: pointer;
  width: 180px;
  max-width: 100%;
  font-size: 10.5px;
  background-image: linear-gradient(90deg, #000 50%, rgba(255, 255, 255, 0.5) 50%);
}
.ad-container .ad-item .ad-item-overlay .ad-item-button:hover {
  background-position: left;
}

#footer {
  background: #eee;
}

.footer-container {
  width: 1600px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media only screen and (min-width: 1600px) {
  .footer-container {
    width: 2000px;
  }
}
.footer-container .footer-item {
  flex: 1 1 100%;
  font-size: 12px;
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 576px) {
  .footer-container .footer-item {
    flex: 1 1 calc(50% - 0.5rem);
  }
}
@media only screen and (min-width: 768px) {
  .footer-container .footer-item {
    flex: 1 1 calc(25% - 0.5rem);
  }
}
.footer-container .footer-item .footer-item-headline {
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-container .footer-item a {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  transition: ease 0.25s all;
}
.footer-container .footer-item a:hover {
  color: #20b2aa;
}
.footer-container .footer-item .footer-item-container:not(:last-of-type) {
  padding-bottom: 3rem;
}
.footer-container .footer-item .footer-item-icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.footer-lower {
  padding: 1rem;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}

.gallery-container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 0.5rem;
  display: grid;
  gap: 0.5rem;
}
@media only screen and (min-width: 480px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 0.5rem), 1fr));
  }
}
@media only screen and (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(33.3333333333% - 0.5rem), 1fr));
  }
}
@media only screen and (min-width: 992px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 0.5rem), 1fr));
  }
}
@media only screen and (min-width: 1200px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 0.5rem), 1fr));
  }
}
.gallery-container .gallery-item {
  background: #eee;
  padding: 1rem;
  overflow: hidden;
}
.gallery-container .gallery-item .gallery-item-image img {
  width: 100%;
  max-width: 100%;
  transition: ease 1s all;
}
.gallery-container .gallery-item:hover img {
  transform: scale(1.05);
}
.gallery-container .gallery-item .gallery-item-content {
  text-align: center;
}
.gallery-container .gallery-item .gallery-item-content .brand {
  font-weight: 600;
}
.gallery-container .gallery-item .gallery-item-content .color {
  font-size: 12px;
  margin: 0.5rem 0;
}
.gallery-container .gallery-item .gallery-item-content .price {
  color: #666;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 600;
}
.gallery-container .gallery-item .variations {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.gallery-container .gallery-item .variations .var {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

#banner[data-brand=apple] {
  background-image: url("../images/banner/apple.png");
}

#banner[data-brand=samsung] {
  background-image: url("../images/banner/samsung.png");
}

#banner[data-brand=google] {
  background-image: url("../images/banner/google.png");
}

#banner[data-brand=sony] {
  background-image: url("../images/banner/sony.png");
}

#banner[data-brand=huawei] {
  background-image: url("../images/banner/huawei.png");
}

#banner[data-brand=xiaomi] {
  background-image: url("../images/banner/xiaomi.png");
}

#banner {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  #banner {
    height: 75vh;
  }
}
#banner .banner-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
}
@media only screen and (min-width: 576px) {
  #banner .banner-overlay {
    font-size: 54px;
  }
}
@media only screen and (min-width: 768px) {
  #banner .banner-overlay {
    font-size: 72px;
  }
}

.registration-container {
  width: 1600px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  display: block;
  padding: 3rem 0;
}
@media only screen and (min-width: 1600px) {
  .registration-container {
    width: 2000px;
  }
}
@media only screen and (min-width: 1200px) {
  .registration-container {
    width: 1600px;
  }
}
.registration-container .registration-item {
  padding: 1rem;
}
.registration-container h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 28px;
  margin: 1.5rem 0;
}

@media only screen and (min-width: 992px) {
  #registerForm {
    display: flex;
    gap: 3rem;
  }
  #registerForm #userInfo,
  #registerForm #addressInfo {
    flex: 1 1 calc(50% - 3rem);
  }
}

.registration-form-field {
  position: relative;
}
.registration-form-field .field-label,
.registration-form-field label {
  position: absolute;
  font-size: 14px;
  color: #000;
  top: 18px;
  left: 0.5rem;
  z-index: -1;
  transition: ease 0.25s all;
}
.registration-form-field input {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 0.5rem;
  background: rgba(230, 230, 230, 0.5);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.registration-form-field input:focus, .registration-form-field input:focus-visible {
  border: none;
  outline: none;
  font-size: 14px;
  background: #d5d5d5;
}
.registration-form-field input:valid + .field-label, .registration-form-field input:focus + .field-label, .registration-form-field input:focus-visible + .field-label, .registration-form-field input:valid + label, .registration-form-field input:focus + label, .registration-form-field input:focus-visible + label {
  position: absolute;
  top: -7px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0 0.5rem;
  font-size: 10px;
  border-radius: 0.5rem;
  z-index: 1;
}

@media only screen and (min-width: 576px) {
  #registerForm #kundennameContainer,
  #registerForm #passwortContainer {
    display: flex;
    gap: 0.5rem;
  }
  #registerForm #kundennameContainer .registration-form-field,
  #registerForm #passwortContainer .registration-form-field {
    flex: 1 1 calc(50% - 0.25rem);
  }
  #registerForm #strassennameContainer {
    display: flex;
    gap: 0.5rem;
  }
  #registerForm #strassennameContainer .registration-form-field:first-of-type {
    flex: 1 1 75%;
  }
  #registerForm #plzContainer {
    display: flex;
    gap: 0.5rem;
  }
  #registerForm #plzContainer .registration-form-field:last-of-type {
    flex: 1 1 calc(75% - 0.25rem);
  }
}

#registerButton,
#loginButton,
#logoutButton,
#registerNowButton {
  display: block;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  margin-top: 0.25rem;
  width: 100%;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  background-image: linear-gradient(90deg, #188781 50%, #000 50%);
  background-size: 200%;
  background-position: right;
  transition: ease 0.35s all;
  cursor: pointer;
}
#registerButton:hover,
#loginButton:hover,
#logoutButton:hover,
#registerNowButton:hover {
  background-position: left;
}

#logoutButton {
  background-image: linear-gradient(90deg, #960000 50%, #000 50%);
}

#registration-header {
  background: #eee;
}
#registration-header .container {
  width: 1600px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  min-height: 30vh;
}
@media only screen and (min-width: 1600px) {
  #registration-header .container {
    width: 2000px;
  }
}
@media only screen and (min-width: 992px) {
  #registration-header .container {
    padding: 3rem 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  #registration-header .container {
    width: 1600px;
  }
}
#registration-header .container .registration-benefits-container {
  flex: 1 1 100%;
  letter-spacing: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #registration-header .container .registration-benefits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  #registration-header .container .registration-benefits-container .reg-ben-item {
    flex: 1 1 calc(50% - 3rem);
  }
}
#registration-header .container h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  #registration-header .container h1 {
    font-size: 54px;
  }
}
@media only screen and (min-width: 992px) {
  #registration-header .container h1 {
    margin: 0 0 1rem 0;
  }
}

.already-registered-container {
  text-align: center;
  margin: 2rem 0;
}
.already-registered-container .reg-ben-item:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #e1e1e1;
}
.already-registered-container p {
  color: #960000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5rem 0;
}
.already-registered-container a {
  transition: ease 0.25s all;
  font-weight: 600;
  color: #666;
}
.already-registered-container a:hover {
  color: #000;
}

.login-container-item {
  padding: 2rem 1rem;
  color: #666;
}
.login-container-item h4 {
  font-weight: 600;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.already-registered {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#loginButton,
#logoutButton,
#registerNowButton {
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */