<!DOCTYPE html>
<html lang="de">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}"> <!-- CSRF Token -> bitte nicht entfernen. Muss im head sein!-->

    
    <meta name="description" content=""> <!-- To-Do -> Dynamisch erzeugen-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <title></title> <!-- To-Do -> Dynamisch erzeugen -->

    <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}" sizes="180x180" type="image/png">
    <link rel="icon" href="{% static 'images/favicons/android-chrome-96x96.png' %}" sizes="96x96" type="image/png">
    <link rel="icon" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/ico">

    <link rel="stylesheet" href="{% static 'slickslider/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slickslider/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


 

 
</head>
<body>
    
    {% include 'shop/header.html' %}

   
    {% block content %}

    {% endblock content %}


   
    
    {% include 'shop/footer.html' %}

    <script src="{% static 'js/logout.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>


    <script src="{% static 'slickslider/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'slickslider/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'slickslider/slick.min.js' %}"></script>    
    <script src="{% static 'js/image-slider.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>

</body>
</html>