{% if user.is_authenticated %}
    <div class="login-container-item logout">
        <form method="POST" action="">
            {% csrf_token %}
            <h4>Logout</h4>
            <input type="hidden" name="logout" value="1"/>
            <button id="logoutButton" type="button">Logout</button>
        </form>
    </div>
{% else %}
    <div class="login-container-item login">
        <h4>Login</h4>
        <form id="loginForm" method="POST" action="">
            {% csrf_token %}

            <div class="registration-form-field">
                <input type="text" name="benutzername"  id="InputEmail" required>
                <label for="InputEmail">Benutzername</label>
            </div>

            <div class="registration-form-field">
                <input type="password" name="passwort" id="InputPassword" required>
                <label for="InputPassword">Passwort</label>
            </div>
            
            <button id="loginButton" type="submit">Login</button>
        </form>
    </div>
        
    <div class="login-container-item already-registered">
        <h4>Noch kein Kunde?</h4>
        <a href={% url 'register' %} id="registerNowButton" type="button">Registrieren</a>
    </div>
{% endif %}