

<h1>Registrieren</h1>
<div>
    <form id="registerForm" method="POST" action="">
        {% csrf_token %}
        <h2>Benutzerinformation:</h2>
        {% for field in user_form %}
        <div class="">{{ field.label }}</div>
        {{ field }}
        {% endfor %}
        <h2>Adresse:</h2>
        {% for field in address_form %}
        <div class="">{{ field.label }}</div>
        {{ field }}
        {% endfor %}
        <br>
        <button id="registerButton" type="submit">Registrieren</button>
    </form>
    <div>
        <p>Bereits Kunde?<a href="{% url 'shop' %}">Zurück zum Shop</a></p>
    </div>
</div>

